data_raw/*
.idea/
.DS_store
.ipynb_checkpoints/
!data_raw
!data_raw/columns_description.csv
data_preprocessed/raw2.csv
data_preprocessed/test.csv
data_preprocessed/train.csv
models/decision_tree/raw_no_missing.csv
utils/__pycache__
